
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.left
{
    display: flex;
}
.navbar {
    background-color:rgb(64, 209, 235);
    overflow: hidden;
    color: white;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    z-index: 3;
    color: black;
}
.navbar a {
    
    text-decoration: none;
    margin-right: 5px; /* Adjust the margin between links as needed */
    white-space: nowrap; /* Prevent line breaks within links */
    color: black;
    padding: 10px;
    
}
.navbar a:hover{
    background-color: beige;
    border-radius: 50px;
    transition: 750ms;
    filter: drop-shadow(4px 4px 8px black);  
}
.lc
{
    display: flex;
    justify-content: space-between;
}
.loginbar
{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    align-self: flex-end;
    margin-right: 10%;
    margin-top: 8%;
    height: 350px;
    width: 300px;   
    text-align: center;
}
button
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;   
    width: 200px; 
    height: 50px;
    background-color:antiquewhite;
}
button:hover {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px black);
    transition: 300ms;
  }
footer
{
    margin-top: 250px;
    background-color: rgb(230, 232, 243);
    height: 100px;
    padding: 50px;
    padding-top: 50px;
    
}
label
{
    
}